/Perf$ArrayTest.class
/Perf$BasicTest.class
/Perf$BoolTest.class
/Perf$BytesTest.class
/Perf$DoubleTest.class
/Perf$ExtendedEnumResolveTest.class
/Perf$FloatFoo.class
/Perf$FloatTest.class
/Perf$FooBarSpecificRecordTest.class
/Perf$GenericNested.class
/Perf$GenericNestedFake.class
/Perf$GenericOneTimeDecoderUse.class
/Perf$GenericOneTimeReaderUse.class
/Perf$GenericOneTimeUse.class
/Perf$GenericResolving.class
/Perf$GenericStrings.class
/Perf$GenericTest.class
/Perf$GenericWithDefault.class
/Perf$GenericWithOutOfOrder.class
/Perf$GenericWithPromotion.class
/Perf$IntTest.class
/Perf$LongTest.class
/Perf$MapTest.class
/Perf$Rec.class
/Perf$Rec1.class
/Perf$RecordTest.class
/Perf$RecordWithDefault.class
/Perf$RecordWithOutOfOrder.class
/Perf$RecordWithPromotion.class
/Perf$ReflectBigRecordTest.class
/Perf$ReflectDoubleArrayTest.class
/Perf$ReflectDoubleTest.class
/Perf$ReflectFloatArrayTest.class
/Perf$ReflectFloatTest.class
/Perf$ReflectIntArrayTest.class
/Perf$ReflectLongArrayTest.class
/Perf$ReflectNestedFloatArrayTest.class
/Perf$ReflectNestedLargeFloatArrayBlockedTest.class
/Perf$ReflectNestedLargeFloatArrayTest.class
/Perf$ReflectNestedObjectArrayTest$Foo.class
/Perf$ReflectNestedObjectArrayTest$Vals.class
/Perf$ReflectNestedObjectArrayTest.class
/Perf$ReflectRecordTest.class
/Perf$ReflectTest.class
/Perf$ResolvingRecord.class
/Perf$ResolvingTest.class
/Perf$SmallLongTest.class
/Perf$SpecificTest.class
/Perf$StringTest.class
/Perf$Test.class
/Perf$TestDescriptor.class
/Perf$TestResult.class
/Perf$UnchangedUnionResolveTest.class
/Perf$ValidatingRecord.class
/Perf.class
