/TestSpecificBuilderTree.class
/TestSpecificData$X.class
/TestSpecificData.class
/TestSpecificDatumReader.class
/TestSpecificDatumWriter.class
/TestSpecificErrorBuilder.class
/TestSpecificRecordBuilder.class
